<%= stylesheet_link_tag    "newGame", :media => "all" %>
<div class="gameForm">
  <h1>Whom would you like to play?</h1>
  <%= form_for @game do |f| %>
    <h3>Player</h3>
    <div class="input-field">
      <%= f.text_field :p2, placeholder: "Enter Opponent Email or ID", class: 'form-control'%>
      <%= f.submit "Create", class: 'newGame', params: { game_type: "player" } %>
    </div>
  <% end %>
  <h3>CPU</h3>
  <div class="cpu">
    <%= button_to 'Easy', { :action => "create", :controller => "games"}, :method=>:post, params: { game_type: "easy" } %>
  </div>
  <div class="self">
    <%= button_to 'Self', { :action => "create", :controller => "games"}, :method=>:post, params: { game_type: "player" } %>
  </div>
</div>