<%= stylesheet_link_tag    "games", :media => "all" %>
<!-- Game information and new game button -->
<h1><%= @game.state %></h1>
<%= link_to 'New Game', new_game_path, { class: "new_game_path" } %>
<% if @game.turn == "red" && @game.state == "In progress" %>
    <h2 style="color:red;">Red's turn</h2>
<% elsif @game.turn == "black" && @game.state == "In progress" %>
    <h2>Black's turn</h2>
<% end %>
<% if current_user %>
<div class = "messageContainer">
  <h2 class = "message-header">Message Board</h2>
  <div class = "messages", id="messages">
    <%= render @game.messages %>    
  </div>
    <%= render 'messages/form', message: Message.new, game: @game %>
</div>
<% end %>
<%= audio_tag '1.mp3', class: "audio" %>
<%= audio_tag '2.mp3', class: "audio" %>
<%= audio_tag '3.mp3', class: "audio" %>
<%= audio_tag '4.mp3', class: "audio" %>
<%= audio_tag '5.mp3', class: "audio" %>
<%= audio_tag '6.mp3', class: "audio" %>

<!-- The connect four game -->
<div class = "game">
    <% for i in 0..6 %>
        
        <!-- the buttons up top -->
        <% if @game.board[6*i+5] == "e" && @game.state == "In progress" && (@game.turn == "black" ? current_user.id == @game.p2 : current_user.id == @game.p1) %>
            <%= button_to 'Go here', { :action => "place", :controller => "games", :game => @game.id, :column => i }, class: @game.turn, :method=>:put %>
        <% else %>
            <%= button_to 'Unavailable', { :action => "place", :controller => "games", :game => @game.id, :column => i }, class: "unavailable", :method=>:put %>
        <% end %>
        <% for j in 0..5 %>
        
            <!-- the 42 spots that pieces can go -->
            <div class = "square">
                <% if @game.board[6*i+(5-j)] == "e" %>
                    <%= image_tag("empty.png") %>
                <% elsif @game.board[6*i+(5-j)] == "b" %>
                    <%= image_tag("black.png") %>
                <% else %>
                    <%= image_tag("red.png") %>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>
