<!DOCTYPE html>
<html>
  <head>
    <title>ConnectFour</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
    <% if user_signed_in? %>
      <%= image_tag current_user.avatar_url(24) %>
      <%= link_to current_user.email, user_path(current_user), :class => 'navbar-link' %>
      <%= link_to "Edit Account", edit_user_registration_path, :class => 'navbar-link' %> - 
      <%= link_to "Edit Profile", edit_user_path(current_user), :class => 'navbar-link' %> -
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> -
      <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </div>
    <%= yield %>
  </body>
</html>
